/* Common Shared Styles */
body{   
    margin: 0 !important;
}
/* banner related styles */
.banner-section{
    background: url('../assets/bannerimage.png'); 
     /*linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),  */
    background-repeat: no-repeat;
    Width: 100%;
    Height: 100vh;
    background-size: cover;
    /* background-attachment: fixed; */
    /* Top: 227px;
    Left: 670px; */
    position: relative;
    opacity: 80px;
    font-family: "Merriweather", serif;
}
.banner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.newyear-title{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: rgb(255, 255, 255);   
}
.newyear-party{
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    color: rgb(255, 255, 255);
    /* margin top +: akta lekha ke niche namaite hole */
    /* margin top -: akta lekha ke upore utthaite hole */
    margin-top: -30px;
    
}
/* discount related styles */
.discount-section{
    font-family: "Inter", serif;
}
.discount{
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 0, 0);
    margin-top: 20px;
}
.holiday{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 0, 0); 
    text-transform: uppercase;
    margin-top: -50px;
}
.category{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: rgb(7, 2, 17);
    text-transform: uppercase;
    margin-top: 20px;
}
.newyearphoto-container{
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center;     /* Vertically centers the image */
    /* height: 100vh;           Adjust the height as needed */
}

/* welcome related styles */
.welcome-section{
    background: url('../assets/welcome.png');
    background-repeat: no-repeat;
    Width: 1320px;
    Height: 600px;
    /* background-size: cover; */
    background-size: auto;
    /* background-attachment: fixed; */
    /* Top: 227px;
    Left: 670px; */
    position: relative;
    opacity: 80px;
    /* font-family: "Merriweather", serif; */
    display: flex;
    margin-top: 40px;
}
.welcome-title{
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: left;
    /* margin-top: 200px; */
    padding-top: 30px;
    padding-left: 40px;
    width: 642px;
    height: 176px;
}
.welcome-description{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    /* padding-top: -500px; */
    padding-left: 30px;
    /* text-align: center; */
    width: 697px;
    height: 60px;
    justify-content: left;
    color: #FFFFFF;
}
.image-2024{
    align-items: center;
    padding-top: 50px;
}
.join{
  text-transform: uppercase;
  padding-left: 80px;
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 700;
  width: 103px;
  height: 24px;
  text-align: center;
  color: #FFFFFF;

}
/* info container styles */
.info-container{
    width: 1320px;
    height: 350px;
    margin-top: 40px;
    /* align-items: center; */
    /* margin-left: 140px; */
    background-color: rgb(227, 216, 216);
    /* background: linear-gradient(to bottom, red 10%, yellow 5%); */
}
.info-title{
    text-align: center;
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 600;
    align-items: center;
    line-height: 20px;
    padding-top: 50px;
}
.span{
    color: red;
    padding-top: 20px;
}
.button{
    border: 15px;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-left: 600px;
    background-color: red;
    color: #FFFFFF;
    padding: 16px 32px;
}
/* new best offer related styles */
.new-best-offer{
    width: 1320px;
    height: 463px;

}

